<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <!-- Standard meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- SEO -->
  <title>{{ title or site.title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ page.url | absoluteUrl }}">

  {#- Social media display, favicons, etc #}
  {% include "html-head.njk" %}

  <!-- Sitewide Stylesheets and Scripts -->
  <link rel="stylesheet" href="/assets/site.css">
  <script defer src="/assets/site.js"></script>
  {# Google fonts:
  {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap' %}
  #}

  {#- Atom and JSON feeds included by default #}
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ site.title }}">
  <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ site.title }}">

  {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
  {#- <meta name="generator" content="{{ eleventy.generator }}"> #}

  {% block head %}{% endblock %}

</head>
<body>
  <div class="outer-wrap">
    
    {% block before_header %}{% endblock %}
    {% include "site-header.njk" %}
    {% block after_header %}{% endblock %}
    
    <main id="main">
      {% block body %}{% endblock %}
    </main>

    <div class="wrap-footers" data-aos="fade-up">
      {% block before_footer %}{% endblock %}
      {% include "site-footer.njk" %}
      {% block after_footer %}{% endblock %}
    </div>

  </div>
</body>
</html>